@font-face {
    font-family: 'Open Sans Regular';
    src: url(font/OpenSans.ttf);
}

@font-face {
    font-family: 'Archivo Black';
    src: url(font/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: 'Sergio Trendy';
    src: url(font/serge.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url(font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(font/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(font/RobotoSlab.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Sergio Trendy', sans-serif;
    line-height: 1.6;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1c0d08;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 190vh;
}
section{
    scroll-snap-align: start;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    padding: 30px 50px;
    height: 100vh;

}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#LogIn{
    height: 10em;
    background-color: black;
}

/* Home Page CSS */
#home {
    background-image: url("../images/homebackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center center;
    margin-bottom: -100px;
    scroll-snap-align: start;
}

.ktHomeLogo {
    max-height: 140px;
    margin-bottom: -30px;
}

.brandname h3, h1 {
    text-align: center;
}
.mainTitle{
    font-family: 'Poppins ExtraBold';
    font-style: italic;
    font-size: 4rem;
    color: #ffffef;
    margin-bottom: -30px;
}
.subTitle{
    font-family: 'Poppins';
    font-style: italic;
    font-size: 1.8rem;
    color: #ffffef;
}


/*about Page Section*/
.sec_about {
    background-image: url('../images/foodTaSectionBG\(Beige\).png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50em;
}
.about_content{
    display: flex;
}

.leftSide{
    width: 85%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.rightSide{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: -180px;
}

.rightSide img {
    max-height: 870px;
}

.ftSecLogo {
    margin-top: 30px;
    max-height: 150px;
    margin-bottom: 10px;
    padding-right: 520px;

}
.about_title{
    font-family: 'Archivo Black';
    font-size: 28px;
    color: #003c25;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 16rem;

}

.about_description {
    font-size: 0.9rem;
    font-family: 'Roboto Slab';
    color: #011a10;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 3rem;
    width: 70%;
}
/* Service Section */

.services {
    background-image: url("../images/kaonTaServicebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-position: center center;
    scroll-snap-align: start;
    height: 50em;
}
.serviceSecLogo {
    margin-top: 30px;
    max-height: 150px;
    margin-bottom: 10px;

}
.serTitle{
    font-family: 'Archivo Black';
    color: white;
    font-size: 2em;
    margin-bottom: 50px;
}

.componentContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 70px;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 220px;
}

.component h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.icons {
    max-width: 90px;
    margin-bottom: 30px;
}

.component p {
    font-family: 'Roboto Slab';
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    max-width: 200px;
    text-align: justify;
}