.container {
    margin: 2em;
}

.store-row td {
    padding: 3em 3em;
    box-shadow: 10px 10px 10px rgb(128, 128, 128);
    border-radius: 1.25em;
    background: white; 
}

a {
    text-decoration: none;
    color: black;
}

.star {
    color: gold;
}

.location {
    margin: 1em 0em;
    width: 10em;
}

.coverphoto {
    height: 10em;
    margin-right: 10px;
}

.orderBtn{
    background-color: #003c25;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.5s;
}

.orderBtn:hover{
    background-color: #007347;
}
