#container{
    list-style: none;
    font-size: xx-large;
}  

td{
    padding: 7.5em 1em;
    box-shadow: 10px 10px 10px rgb(128, 128, 128);
    border-radius: 1.25em;
}

a{
    text-decoration: none;
    color: black;
}

.star{
    color: gold;
}

#location{
    margin: 1em 0em;
    width: 10em;
}