* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sergio Trendy', sans-serif;
    background-color: beige;
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("../images/foodTaBrandBG.png");
    background-attachment: fixed;
    background-position: center;
    height: auto;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Branch display*/


.ftSecLogo {
    max-height: 130px;

}

.serTitle{
    font-family: 'Archivo Black';
    color: #003c25;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/*-------------------------------- */

.container {
    margin: 2em;
}

.store-row td {
    padding: 3em 3em;
    box-shadow: 10px 10px 10px rgb(128, 128, 128);
    border-radius: 1.25em;
    background: white; 
}

a {
    text-decoration: none;
    color: black;
}

.star {
    color: gold;
}

.location {
    margin: 1em 0em;
    width: 10em;
}

.coverphoto {
    height: 10em;
    margin-right: 10px;
}

.orderBtn{
    background-color: #003c25;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.5s;
}

.orderBtn:hover{
    background-color: #007347;
}
