html, body {
    overflow: hidden;
    font-family: 'Sergio Trendy', sans-serif;
    height: 100vh;
    margin-top: 5em;
}

body{
    background-image: url('../images/foodTaBrandBG.png');
    background-attachment: fixed;
}

#selection {
    text-align: center;
}

button {
    padding: 10em 10em;
    cursor: pointer;
}

#customerRegister, #storeRegister {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#customerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 5.5em;
    background-color: #003c25;
}

#formHeader {
    font-family: 'Poppins ExtraBold';
    font-style: italic;
    font-size: 4em;
    color: white;
}

.formTxt {
    width: 75%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
    margin-top: 1em;
}

.formBtn {
    margin-top: 2em;
    width: 50%;
    height: 45px;
    background: #fdfdfd;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#storeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 5.5em;
    background-color: #003c25;
}





