html, body {
    /* overflow: hidden; */
    font-family: 'Sergio Trendy', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/foodTaBrandBG.png');
    background-attachment: fixed;
    background-size: cover;
}

#selection {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.brandline{
    font-family: "Poppins ExtraBold";
    font-size: 1.6rem;
    margin-bottom: -30px;
}
.tagline{
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 600;
}

img{
    height: fit-content;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 4em;
    cursor: pointer;
    background-color: #003c25;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.btnImg {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5em;
}

.ftSecLogo {
    position: relative;
    top: 80px;
    max-height: 130px;
    margin-bottom: 50px;
}

#customerRegister, #storeRegister, #deliveryRegister {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#storeRegister {
    padding-top: 40em;
}

#customerForm, #storeForm, #deliveryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    background-color: #003c25;
    border-radius: 12px;
}

#formHeader {
    font-family: 'Poppins ExtraBold';
    font-style: italic;
    font-size: 3em;
    color: white;
    margin-bottom: 12px;
}

.formTxt {
    width: 75%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
    margin-top: 1em;
}

.formBtn {
    margin-top: 2em;
    width: 50%;
    height: 45px;
    background: #fdfdfd;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.backBtn {
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 10px;
}

.backBtn:hover {
    text-decoration: underline;
}
