* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sergio Trendy', sans-serif;
    background-color: beige;
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("../images/djb_productD.png");
    background-attachment: fixed;
    background-position: center;
    height: auto;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}