@font-face {
    font-family: 'Open Sans Regular';
    src: url(font/OpenSans.ttf);
}
@font-face {
    font-family: 'Archivo Black';
    src: url(font/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: 'Sergio Trendy';
    src: url(font/serge.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url(font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(font/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(font/RobotoSlab.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sergio Trendy', sans-serif;
    background-color: beige;
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("../images/foodTaBrandBG.png");
    background-attachment: fixed;
    background-position: center;
}

.storeProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    height: auto;
}

.ftSecLogo {
    max-height: 120px;

}

.storeName {
    font-size: 1.9em;
    font-family: 'Poppins';
    color: #003c25;
    text-align: center;
    width: 100%;
}

.productCard {
    flex: 1 1 250px;
    max-width: 250px;
    height: 350px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.productCard:hover {
    transform: translateY(-10px);
}

.product-image img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.product-details {
    padding-top: 10px;
    text-align: center;
}

.product-details h3 {
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.product-details p {
    font-size: 1.2rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #5f6261;
}

.product-details .quantity {
    width: 40%;
    padding: 5px;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-details .addToCart {
    width: 80%;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Poppins';
    border-radius: 5px;
    border: none;
    background-color: #003c25;
    color: white;
    cursor: pointer;
}
/*Back Button*/
.backBTN {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #003c25;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.backBTN img {
    width: 35px;
    height: 35px;
}

.backBTN:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/*Cart Button*/
.addToCartBTN {
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #003c25;
    border-radius: 18px;
    padding: 5px 25px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.addToCartBTN img {
    width: 35px;
    height: 35px;
}

.addToCartBTN:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

